<div class="wrapper">

    <table id="ham">

        <tr>
            <th colspan="3">SINAV PUANLARI VE BAŞARI SIRALARI</th>
        </tr>
        <tr>
            <th>PUAN TÜRÜ</th>
            <th>PUANI</th>
            <th>BAŞARI SIRASI</th>
        </tr>
        <tr>
            <th>TYT</th>
            <td>{{tytPoints.ham}}</td>
            <td>{{rankings.ham.tyt}}</td>
        </tr>
        <tr>
            <th>SAY</th>
            <td>{{aytPoints.ham.say}}</td>
            <td>{{rankings.ham.say}}</td>
        </tr>
        <tr>
            <th>SÖZ</th>
            <td>{{aytPoints.ham.soz}}</td>
            <td>{{rankings.ham.soz}}</td>
        </tr>
        <tr>
            <th>EA</th>
            <td>{{aytPoints.ham.ea}}</td>
            <td>{{rankings.ham.ea}}</td>
        </tr>

    </table>


    <table id="yer">

        <tr>
            <th></th>
            <th colspan="2">YERLEŞTİRME PUANLARI VE BAŞARI SIRALAMALARI</th>
        </tr>
        <tr>
            <th>PUAN TÜRÜ</th>
            <th>PUANI</th>
            <th>BAŞARI SIRASI</th>
        </tr>
        <tr>
            <th>Y-TYT</th>
            <td>{{tytPoints.yer}}</td>
            <td>{{rankings.yer.tyt}}</td>
        </tr>
        <tr>
            <th>Y-SAY</th>
            <td>{{aytPoints.yer.say}}</td>
            <td>{{rankings.yer.say}}</td>
        </tr>
        <tr>
            <th>Y-SÖZ</th>
            <td>{{aytPoints.yer.soz}}</td>
            <td>{{rankings.yer.soz}}</td>
        </tr>
        <tr>
            <th>Y-EA</th>
            <td>{{aytPoints.yer.ea}}</td>
            <td>{{rankings.yer.ea}}</td>
        </tr>

    </table>




</div>

